body {
    background-color: #242529;
    color: #FFFFFF;
}

nav {
    border-bottom: 2px solid #34363A;
    padding-bottom: 5px;
    padding-top: 5px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
}

nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 10px;
}

nav-right {
    position: absolute;
    top: 5px;
    right: 10px;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

h1,
h2,
h3 {
    margin-left: 10px;
}

.login-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35373B;
    border-radius: 10px;
    width: 300px;
    height: 260px;
}

.button-login {
    border: none;
    border-radius: 5px;
    background-color: #82713C;
    color: white;
    height: 32px;
    width: 120px;
}

.register-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35373B;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.checkbox-label {
    margin-right: 8px;
}

.button-register {
    border: none;
    border-radius: 5px;
    background-color: #82713C;
    color: white;
    height: 32px;
    width: 120px;
}


.formations-container {
    background-color: #35373B;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.formations {
    margin-left: 10px;
}

.sessions-container {
    background-color: #35373B;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
}

.sessions,
.new-session {
    margin-left: 10px;
}

.edit-session {
    position: absolute;
    right: 40px;
}

.delete-session {
    position: absolute;
    right: 20px;
}

/* DETAILS SESSION */
.session-container {
    display: grid;
    justify-content: center;
    gap: 10px;
}

.titre-session {
    display: flex;
    justify-content: center;
}

.base-container {
    display: flex;
    gap: 10px;
}

.formateur-container {
    background-color: #35373B;
    border-radius: 10px;
    height: 90px;
    width: 300px;
}

.formateur-container h5 {
    text-align: center;
}

.formateur-container p {
    margin-left: 10px;
}

.informations-container{
    background-color: #35373B;
    border-radius: 10px;
    height: 90px;
    width: 300px;
    display: flex;
}

.place-container {
    border-right: 2px solid #26262b;
    margin: 10px;
    padding-left: 30px;
    padding-right: 35px;
}

.place-container p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-container {
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 11px;
}

.date-container h5 {
    text-align: center;
}


/* PROGRAMMATION */
.programmation-container {
    display: flex;
    gap: 10px;
}

.programme-container {
    background-color: #35373B;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    overflow: auto;
    padding-left: 10px;
    position: relative;
}

.edit-programme {
    position: absolute;
    right: 20px;
}

.remove-programme {
    position: absolute;
    right: 45px;
}


.programme-container h5 {
    text-align: center;
}

.nonprogramme-container {
    background-color: #35373B;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    overflow: auto;
    padding-left: 10px;
}

.programmes-form {
    text-align: right;
    width: 220px;
}

.nonprogramme-container h5 {
    text-align: center;
}

.nonprogramme-container button {
    border: none;
    background: transparent;
    font-size: 20px;
}

.nonprogramme-container input {
    width: 60px;
}

/*  INSCRIPTION */
.inscription-container {
    display: flex;
    gap: 10px;
}

.inscrit-container {
    background-color: #35373B;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    overflow: auto;
    padding-left: 10px;
}

.inscrit-container h5 {
    text-align: center;
}

.noninscrit-container {
    background-color: #35373B;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.noninscrit-container h5 {
    text-align: center;
}

/* Liste des sessions */
.listSession-container {
    background-color: #35373B;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.add-session {
    margin-left: 10px;
}

.edit-listSession {
    position: absolute;
    right: 20px;;
}

.delete-listSession {
    position: absolute;
    right: 20px;
}

/* Liste des modules */
.listModule-container {
    background-color: #35373B;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.listModule {
    margin-left: 10px;
}

.new-module {
    margin-left: 10px;
}

.delete-listModule {
    position: absolute;
    right: 20px;
}

/* Liste des stagiaires */
.listStagiaire-container {
    background-color: #35373B;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    position: relative;
}

.new-stagiaire {
    margin-left: 10px;
}

.edit-listStagiaire {
    position: absolute;
    right: 20px;
}

.delete-listStagiaire {
    position: absolute;
    right: 20px;
    bottom: 0px;
}

/* Liste des formateurs */ 
.listFormateurs-container {
    background-color: #35373B;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.listFormateur {
    margin-left: 10px;
}

.new-formateur {
    margin-left: 10px;
}

.edit-listFormateur {
    position: absolute;
    right: 20px;
}

.delete-listFormateur {
    position: absolute;
    right: 23px;
}

/* Formulaire edit session*/
.form-editSession {
    background-color: #35373B;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 10px;
    width: 385px;
    height: 265px;
}

/* Formulaire */
.form-addSession {
    background-color: #35373B;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    width: 385px;
    height: 265px;
}

.form-addModule {
    background-color: #35373B;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    width: 385px;
    height: 123px;
}

.bs-addEdit {
    border: none;
    border-radius: 5px;
    background-color: #82713C;
    color: white;
    height: 32px;
    width: 120px;
}

.form-addStagiaire {
    background-color: #35373B;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
}

.checkbox-sessions-container {
    display: flex;
    flex-direction: column;
}

.addFormateur-container {
    background-color: #35373B;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding: 10px;
    width: 400px;
}