{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}
    <h1>Liste des sessions</h1> 

    <h2>{{ formation.nomFormation }}</h2>

    {% for session in formation.sessions %}
        <tr><td><a href="{{ path('show_session', {'id':session.id })}}">{{ session.nomSession }}</a></td></tr><br>
    {% endfor %}



{% endblock %}