{% extends 'base.html.twig' %}

{% block title %}Détails de la session{% endblock %}

{% block body %}
    <h1>Détails de la session</h1>

    <h2>{{ session.nomSession }}</h2>

    <p>Nombre de place : {{ session.place }}</p>
    <p>Date de début : {{ session.dateDebut | date("d-m-Y") }}</p>
    <p>Date de fin : {{ session.dateFin | date("d-m-Y") }}</p>

    <h3>Formateur</h3>

    <h3>Modules</h3>

    <h3>Stagiaires</h3>
    
{% endblock %}